@{
	ViewData["Title"] = "ExampleController Index Sayfası";
	//Oluşturduğumuz layotu kullanma
	Layout = "ExampleLayout";
}
<!--Layouttu Okulturduğumuz Bu Kodu Örneğin Header de Kullanabiliyoruz -->
@section header{
	<p>Bu Kod Header Oraya Gelcek</p>
}
@section footer{
		<p>Bu Kod Footer Oraya Gelcek</p>
}
<div>Bu Sayfa ExampleController Index Sayfası</div>